---
import type { Page } from "@myTypes/index";
import PaginationPrev from "@components/Pagination/Pagination.Prev";
import PaginationCurrent from "@components/Pagination/Pagination.Current";
import PaginationNext from "@components/Pagination/Pagination.Next";

type Props = {
  page: Page;
};

const { page } = Astro.props;
---

<div class="pagination btn-group">
  <PaginationPrev page={page} />
  <PaginationCurrent page={page} />
  <PaginationNext page={page} />
</div>
