---
import SearchInput from "./SearchInput";
---
<div class="mx-auto w-4/5 bg-base-200 p-10 shadow-2xl border-2 border-base-200 rounded-lg">
  <div class="mx-auto w-2/5">
    <SearchInput  client:load />
  </div>
</div>
