---
import SearchInput from "./SearchInput";
import TopIsrand from "@components/Elements/Isrand/TopIsrand.astro"
---
<TopIsrand>
  <div class="mx-auto w-3/5">
    <SearchInput  client:load />
  </div>
</TopIsrand>
