---
import type { CategoryItem } from "@lib/newt";
import TopIsrand from "@components/Elements/Isrand/TopIsrand.astro"
import CategoriesList from "@components/Categries/Categories.List";
type Props = {
  data: CategoryItem[];
  url: string;
  category?: string;
};

const { data, url,category } = Astro.props;
---
<TopIsrand>
  <div class="grid grid-cols-4 gap-2 items-center">
    <CategoriesList data={data} url={url} category={category} />
  </div>
</TopIsrand>
