---
---

<div id="wrapper">
  <slot />
</div>

<style lang="scss" is:global>
  #wrapper {
    display: grid;
  }
  @media screen and (min-width: 768px) {
    #wrapper {
    }
  }
  @media screen and (min-width: 1024px) {
    #wrapper {
      grid-template-columns: 4fr 1fr;
      grid-template-areas: "auto toc";
      gap: 2rem;
      #blog_toc {
        ul {
          height:fit-content;
          position: sticky;
          top: 0;
        }
      }
    }
  }
</style>
