html {
  font-size: 62.5%;
  p,ul,li,a,span,div{
    font-size:1.6rem;
  }
  h2 {
    @apply text-5xl;
  }
  h3 {
    @apply text-4xl;
  }
  h4 {
    @apply text-3xl;
  }
  /* blog table of content*/
  #blog_toc {
    text-align: left;
    @apply bg-base-300 rounded p-2;
    ul {
      @apply bg-base-200 p-1;
    }
    li {
      @apply my-1.5 ml-4 text-2xl;
    }
    a {
      @apply no-underline;
      &:hover {
        color: #4c74b9;
      }
      &:active {
        color: #4c74b9;
      }
    }
    .toc_h3 {
      @apply text-success;
      @apply py-2
    }
    .toc_h4 {
      @apply pl-8 py-2;
    }
  }
}
