.wrap {
    display: grid;
    grid-template-areas:
      "header header header"
      "sub sub sidebar"
      "main main sidebar"
      "low low sidebar"
      "footer footer footer";
    grid-gap: 0.75rem;
    overflow-x: auto;
    grid-template-columns: 1fr 70% 1fr;
  > .header,.sidebar,.main,.sub,.adv,.footer {
    text-align: center;
    padding: 2rem;
  }
  .header {
    grid-area: header;
  }
  .sidebar {
    grid-area: sidebar;
  }
  .main {
    grid-area: main;
  }
  .sub {
    grid-area: sub;
  }
  .low {
    grid-area: page;
  }
  .adv {
    grid-area: adv;
  }
  .footer {
    grid-area: footer;
  }
  .content{
    h2{
      font-size:20px;
    }
  }
}
/* blog table of content*/
#blog_toc ul {
  @apply bg-base-200 rounded px-2 py-2;
}

#blog_toc li {
  @apply my-1.5 ml-4;
}

#blog_toc a:hover {
  color: #4c74b9;
}

#blog_toc a:active {
  color: #4c74b9;
}

#blog_toc .toc_h3 {
  @apply pl-4;
}

@media (max-width: 767px) {
  .wrap{
    display:grid;
    grid-template-areas:
      "header"
      "sub"
      "main"
      "low"
      "sidebar"
      "footer";
    grid-gap:0;
    > .header,.sidebar,.main,.sub,.adv,.footer {
      width:100vw;
      padding:1rem;
    }
    pre,code{
      overflow:scroll;
    }
  }
}
