---
import Layout from "../../layouts/Layout.astro";
import { newtClient } from "../../lib/newt";
import type { Article } from "../../lib/newt";

export const getStaticPaths = async () => {

  const { items: articles } = await newtClient.getContents<Article>({
    appUid: "blog",
    modelUid: "article",
    query: {
      select: ["title", "slug", "categories"],
    },
  });
  return articles.map((article) => ({
    params: { id: article.categories[0]._id},
    props: { articles},
  }));
};

const {id} = Astro.params;
const { articles } = Astro.props;

---

<Layout title="aa" description="投稿詳細ページです">
  <main>
    <h2></h2>
    <article set:html="aaaa" />
  </main>
</Layout>
