---
import type { GetStaticPathsOptions } from "astro";
import Layout from "../layouts/Layout.astro";
import { MyContent } from "../components/Content";
import { MyLowContent } from "../components/LowContent";
import Pagination from "../components/Pagination.astro";
import "../styles/global.scss";

import { newtClient } from "../lib/newt";
import type { Article } from "../lib/newt";

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const postsData = await newtClient.getContents<Article>({
    appUid: "blog",
    modelUid: "article",
    query: {
      select: ["title", "slug", "body"],
    },
  });
  const postsContents: Article[] = postsData.items;

  return paginate(postsContents, { pageSize: 10 });
}
const { page } = Astro.props;
const data: Article[] = page.data;
---

<Layout title="NeoEveLog" description="ネオイブログ">
  <MyContent articles={data} />
  <MyLowContent>
    <h1>{page.currentPage}ページ</h1>
    {page.url.prev ? <a href={page.url.prev}>Previous</a> : null}
    {page.url.next ? <a href={page.url.next}>Next</a> : null}
  </MyLowContent>
</Layout>
