---
import { MyFirstIsland } from "../components/MyFirstIsland";
import { MySecondIsland } from "../components/MySecondIsland";
import { MyHeader } from "../components/Header";
import { MySidebar } from "../components/Sidebar";
import { MyContent } from "../components/Content";
import { MyLowContent } from "../components/LowContent";
import { MyFooter } from "../components/Footer";
import "../styles/global.scss";
interface HeaderSearchProps {
  links: {
    link: string;
    label: string;
    links: { link: string; label: string }[];
  }[];
}
type FooterSimpleProps = {
  links: { link: string; label: string }[];
};
const headLink: HeaderSearchProps = {
  links: [
    {
      link: "/about",
      label: "Features",
      links: [],
    },
    {
      link: "#1",
      label: "Learn",
      links: [
        {
          link: "/docs",
          label: "Documentation",
        },
        {
          link: "/resources",
          label: "Resources",
        },
        {
          link: "/community",
          label: "Community",
        },
        {
          link: "/blog",
          label: "Blog",
        },
      ],
    },
    {
      link: "/about",
      label: "About",
      links: [],
    },
    {
      link: "/pricing",
      label: "Pricing",
      links: [],
    },
    {
      link: "#2",
      label: "Support",
      links: [
        {
          link: "/faq",
          label: "FAQ",
        },
        {
          link: "/demo",
          label: "Book a demo",
        },
        {
          link: "/forums",
          label: "Forums",
        },
      ],
    },
  ],
};
const data: FooterSimpleProps = {
  links: [
    {
      link: "#",
      label: "Contact",
    },
    {
      link: "#",
      label: "Privacy",
    },
    {
      link: "#",
      label: "Blog",
    },
    {
      link: "#",
      label: "Careers",
    },
  ],
};
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Islands</title>
  </head>
  <body>
    <div class="wrap">
      <MyHeader links={headLink.links}>
      </MyHeader>
      <MySidebar>Sidebar (static HTML)</MySidebar>
      <MyContent>Static content like text, images, etc.</MyContent>
      <MyLowContent>
        <MySecondIsland client:visible />
      </MyLowContent>
      <MyFooter links={data.links}>Footer (static HTML)</MyFooter>
    </div>
  </body>
</html>
