---
import Navbar from "@components/Navbar/Index.astro"
import Button from "@components/Button/Index.astro"
import Logo from "@public/logo.svg"
---
<Navbar>
  <a href="/">
    <Logo
      class="w-[200px] md:w-[250px] lg:w-[300px] dark:invert"
      aria-label="NeoEveLog"
    />
  </a>
  <!-- <a href="/search"> -->
  <!--   <Button variant="info" outline={true} label="Search" /> -->
  <!-- </a> -->
</Navbar>
