---
import Head from "@layouts/Head/Head.astro";
import Header from "@layouts/Header/Header.astro";
import Footer from "@layouts/Footer/Footer.astro";
import "@styles/global.scss";

export type Props = {
  title: string;
  description: string;
  id: string;
};

const { title, description } = Astro.props;
const url = import.meta.env.SITE_URL;
---

<!DOCTYPE html>
<html lang="ja" data-theme="dark">
  <Head title={title} description={description} />
  <body>
    <Header url={url} />
    <slot />
    <Footer />
  </body>
</html>
