---
import Head from "@layouts/Head/Head.astro";
import Header from "@layouts/Header.astro";
import Footer from "@layouts/Footer/Footer.astro";
import "@styles/global.scss";

export type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
const url = import.meta.env.SITE_URL;
---

<!DOCTYPE html>
<html lang="ja" data-theme="dark">
  <Head title={title} description={description} />
  <body>
    <Header url={url} />
    <div class="inner__wrap">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<style lang="scss">
  .inner__wrap {
    display:grid;
    gap: 2rem;
    margin: 2rem;
  }
</style>
